* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #FFF;
    padding: 20px;
}
h1 {
    margin: 1em 0;
}
h2 {
    margin: 1em 0;
}
h3 {
    margin: 1em 0;
}
ol, ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
}
li {
    cursor: pointer;
}
li:hover {
    background: #f0f0f0;
    color:#444;
}
.count {
    color: #666;
    font-size: 0.8em;
}
.import {
    margin: 2em 0em;
    border: 1px dashed #333;
    padding: 2em;
    background: #222;
}
button {
    background: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
    margin-right: 1em;
}
button.alert {
    background: red;
    color: white;
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
}
.item-list {
    list-style-type: none;
    padding: 0;
}
.item-list li {
    border: 1px solid #444;
    padding: 1em 2em;
    margin-bottom: 5px;
    text-align: center;
}
.item-list li .cross {
    float: right;
    font-weight: bold;
    background: #222;
    color:white;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-top: -0.5em;
    cursor: pointer;
}